<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        body { font: 12px Arial;}
        path {
            stroke-width: 2;
            fill: none;
        }
        .axis path, .axis line {
            fill: none;
            stroke: grey;
            stroke-width: 1;
            shape-rendering: crispEdges;
        }
        .area {
            fill: #F0F8FF;
            stroke-width: 0;
        }
        .center {
            margin: auto;
            width: 50%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div class="center">
        <p><h1 text-align="center">Mobility Trend Analysis</h1></p>
    </div>
    <div class="center">
        <div><h2>Average mobility trend per weekday in New York state</h2></div>
        <div id="graphDiv"></div>
    </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script>
        var graphData = {{ data.chart_data | safe }}
        console.log(graphData)
        var margin = {top: 30, right: 100, bottom: 30, left: 100};
        var svgWidth = 800;
        var svgHeight = 350;
        var graphWidth = svgWidth - margin.left - margin.right;
        var graphHeight = svgHeight - margin.top - margin.bottom;
        //var parseDate = d3.time.format("%w").parse;
        //console.log(d3.time.format("%w"));
        var x = d3.scale.linear().range([0, graphWidth]);
        var y = d3.scale.linear().range([graphHeight, 0]);
        var xAxis = d3.svg.axis().scale(x).orient("bottom").ticks(5);
        var yAxis = d3.svg.axis().scale(y).orient("left").ticks(5);
        var highLine = d3.svg.line().x(function(d) { return x(d.day_of_week); }).y(function(d) { return y(d.avg_retail_and_recreation_percent_change); });
        var closeLine = d3.svg.line()
            .x(function(d) { return x(d.day_of_week); })
            .y(function(d) { return y(d.avg_grocery_and_pharmacy_percent_change); });
        var lowLine = d3.svg.line()
            .x(function(d) { return x(d.day_of_week); })
            .y(function(d) { return y(d.avg_parks_percent_change); });
        var avg_transit_stations_percent_change_line = d3.svg.line().x(function(d) { return x(d.day_of_week); }).y(function(d) { return y(d.avg_transit_stations_percent_change); });
        var avg_workplaces_percent_change_line = d3.svg.line().x(function(d) { return x(d.day_of_week); }).y(function(d) { return y(d.avg_workplaces_percent_change); });
        var avg_residential_percent_change_line = d3.svg.line().x(function(d) { return x(d.day_of_week); }).y(function(d) { return y(d.avg_residential_percent_change); });
        var area = d3.svg.area()
            .x(function(d) { return x(d.day_of_week); })
            .y0(function(d) { return y(d.avg_parks_percent_change); })
            .y1(function(d) { return y(d.avg_retail_and_recreation_percent_change); });
        var svg = d3.select("#graphDiv")
            .append("svg").attr("width", svgWidth).attr("height", svgHeight)
            .append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
        function drawGraph(data) {
                // For each row in the data, parse the date
                // and use + to make sure data is numerical
                data.forEach(function(d) {
                    d.day_of_week = d.day_of_week;
                    d.avg_retail_and_recreation_percent_change = +d.avg_retail_and_recreation_percent_change;
                    d.avg_grocery_and_pharmacy_percent_change = +d.avg_grocery_and_pharmacy_percent_change;
                    d.avg_parks_percent_change = +d.avg_parks_percent_change;
                    d.avg_transit_stations_percent_change = +d.avg_transit_stations_percent_change;
                    d.avg_workplaces_percent_change = +d.avg_workplaces_percent_change;
                    d.avg_residential_percent_change = +d.avg_residential_percent_change;

                });
                // Scale the range of the data
                x.domain([d3.min(data, function(d) { return d.day_of_week; }), d3.max(data, function(d) { return d.day_of_week; })]);
                y.domain([d3.min(data, function(d) { return Math.min(d.avg_retail_and_recreation_percent_change, d.avg_grocery_and_pharmacy_percent_change, d.avg_parks_percent_change, d.avg_transit_stations_percent_change, d.avg_workplaces_percent_change, d.avg_residential_percent_change) }),
                    d3.max(data, function(d) { return Math.max(d.avg_retail_and_recreation_percent_change, d.avg_grocery_and_pharmacy_percent_change, d.avg_parks_percent_change, d.avg_transit_stations_percent_change, d.avg_workplaces_percent_change, d.avg_residential_percent_change) })]);
                // Add the area path
                //svg.append("path").datum(data).attr("class", "area").attr("d", area)
                // Add the highLine as a green line
                svg.append("path").style("stroke", "green").style("fill", "none").attr("class", "line").attr("d", highLine(data));
                // Add the closeLine as a blue dashed line
                svg.append("path").style("stroke", "blue").style("fill", "none").style("stroke-dasharray", ("3, 3")).attr("d", closeLine(data));
                // Add the lowLine as a red dashed line
                svg.append("path").style("stroke", "red").attr("d", lowLine(data));
                svg.append("path").style("stroke", "black").style("fill", "none").style("stroke-dasharray", ("3, 3")).attr("d", avg_transit_stations_percent_change_line(data));
                svg.append("path").style("stroke", "magenta").style("fill", "none").attr("class", "line").attr("d", avg_residential_percent_change_line(data));
                svg.append("path").style("stroke", "purple").style("fill", "none").attr("class", "line").attr("d", avg_workplaces_percent_change_line(data));
                // Add the X Axis
                svg.append("g").attr("class", "x axis").attr("transform", "translate(0," + graphHeight + ")").call(xAxis);
                // Add the Y Axis
                svg.append("g").attr("class", "y axis").call(yAxis);
                // Add the text for the "High" line
                svg.append("text").attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].avg_retail_and_recreation_percent_change)+")").attr("dy", ".35em").attr("text-anchor", "start").style("fill", "green").text("Retail");
                // Add the text for the "Low" line
                svg.append("text").attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].avg_parks_percent_change)+")").attr("dy", ".35em").attr("text-anchor", "start").style("fill", "red").text("Grocery");
                // Add the text for the "Close" line
                svg.append("text").attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].avg_grocery_and_pharmacy_percent_change)+")").attr("dy", ".35em").attr("text-anchor", "start").style("fill", "blue").text("Parks");
                svg.append("text").attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].avg_transit_stations_percent_change)+")").attr("dy", ".35em").attr("text-anchor", "start").style("fill", "black").text("Transit stations");
                svg.append("text").attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].avg_residential_percent_change)+")").attr("dy", ".35em").attr("text-anchor", "start").style("fill", "magenta").text("Residential areas");
                svg.append("text").attr("transform", "translate("+(graphWidth+3)+","+y(graphData[0].avg_workplaces_percent_change)+")").attr("dy", ".35em").attr("text-anchor", "start").style("fill", "purple").text("Workplaces");
        };
        drawGraph(graphData);
    </script>
</body>
</html>